<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.bionic.edu.socialapp.controller.ControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.bionic.edu.socialapp.controller.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>

</web-app>
