
body {
    background: #bebebe;
}

input {
    border-radius: 5px;
    margin: 5px;
}

.inline {
    display:inline-block;
}

.width200 {
    width: 200px;
}

.menu {
  border: 3px groove #bebebe;
  border-radius: 10px;
  display: inline-block;
  height : 39%;
  width: 45%;
  padding: 10px;
  margin: 5px;
  text-align: center;
}